
  @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.5s;
  font-family: 'Rubik', sans-serif;
}

body{
  background-color: #000000;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #00001b;
  height: 10vh;
}

h2{
  color: LightSkyBlue;
}

.pai-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;  
  height: 90vh;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  width: 45vw;
  background-color: #00001b;

}

form{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
  
}

input{
  height: 0;
  outline: none;
  border: none;
  padding: 12px;
  background: transparent;
  border-bottom: solid 4px #1a2d45;
  color: #ffffff;
}

input:focus{
  border-bottom: solid 4px LightSkyBlue;
  color: #fff;
}

textarea{
  padding: 10px;
  border: none;
  background: transparent;
  border-bottom: solid 4px #1a2d45;
  color: #fff;
}

textarea:focus{
  border-bottom: solid 4px LightSkyBlue;
  color: #fff;
}

.pai-buttom{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}


button{
  height: 6.5vh;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: LightSkyBlue;
  width: 110px;
  font-size: 17px;
}

button:hover{
  background-color: rgba(255, 255, 255, 0.8);
}


::placeholder{
  color: #fff;
}

textarea:focus{
  outline: 0;
}

h1{
  color: #ffffff;
  margin-bottom: 20px;
}


